$primary: #1bb697;
$card-border-width: 0px;

$theme-colors: (
  "primary":    #1bb697,
  "secondary":  $secondary,
  "success":    $success,
  "info":        #80909c,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 850px,
  xl: 950px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 850px,
  xl: 980px
);