@import './components/mobile/header';
@import './components/mobile/memory';
@import './components/mobile/result';
@import './components/mobile/approach';
@import './components/mobile/clients';
@import './components/mobile/work';
@import './components/mobile/what';
@import './components/mobile/opportunity';
@import './components/mobile/flexibility';
@import './components/mobile/footer';

.no-br {
	br {
		display: none;
	}
}












