.briefcases{
	.separate{
		color: #b2b5bc;
	}
	.galkan{
		    position: absolute;
    left: 0px;
	}
	.btncases{
		width: 146px;
height: 43px;
border: 1px solid #1bb697;
font-size: 18px;
color: #1bb697;
	}
	.lespac{
		letter-spacing: -0.5px;
	}

	.styli{
		font-size: 18px;
	}
	.lespaci{
		letter-spacing: -0.5px;
	}
}