.clients{

	.swiper-pagination{

		span.swiper-pagination-bullet{
			background: #1bb697;
		}
	}


	.h1 {
		margin-bottom: 55px;
	}
	.swiper-button-next, .swiper-button-prev {
		width: 15px;
		height: 17px;
		background-size: 100% 100%;
	}

	.swiper-button-prev {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%2380909c'%2F%3E%3C%2Fsvg%3E");
	}

	.swiper-button-next {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%2380909c'%2F%3E%3C%2Fsvg%3E");
	}

	&-text{
		color: #31bea2;
		font-size: 18px;
	}
	.client-img{
		position: absolute;
		    margin: 27px 0 0 10px;
	}
	.client-title{
		margin-left: 70px;
		margin-top: 30px;
	}
	.client-text{
		margin-left: 70px;
		font-size: 14px;
		color: #b2b5bc;
	}
	.fz{
		color: #80909c;
		line-height: 23px;
		font-size: 14px;
		margin: 0 20px;
	}


	
}