.flexibility{

	&-text{
		font-size: 18px;
	}
	
	.btnflexi{
		width: 203px;
		height: 63px;
		border: 2px solid #ffffff;
		background-color: transparent;
	}

	.btnflexi:hover{
		background-color: #1bb697;
		border-color: #1bb697;
	}
}