.footer{


		&-text{
			color: #80909c;
    font-size: 14px;
		}
	.foot{
		color: #249983;
		font-size: 14px;
		&-small{
			color: #80909c;
			font-size: 14px;
		}
	}
	&-btn{
		width: 150px;
height: 47px;
	}
	&-forma{
		width: 238px;
height: 47px;
border: 2px solid #dbe4eb;
background-color: transparent;

	}

	.foottit{
		font-size: 17px;
		color: white;
	}

	.bort{
		    border-top: 1px solid #464c55;
	}
}