.header {


	.number{
		font-size: 26px;
	    font-weight: 400;
	    text-decoration: none !important;
	}
	.btnclass{
		width: 222px;
		height: 50px;
		border: 2px solid #dbe1eb;
	    font-size: 18px;
	    line-height: 30px;
	    color: #349985;
	}

	.title{
			
		font-size: 30px;
	font-weight: 700;

	}

	.form-control{
		width: 279px !important;
	    height: 51px;
	    border: 2px solid #dbe1eb;
	    background-color: transparent;
	}

	.btnpod{
		width: 281px;
	height: 52px;
	font-size: 17px;
	font-weight: 400;
	line-height: 29.17px;
	}

	.card {
		min-height: 200px;

		&-title{
		
			font-size: 15px;

		}

		&-text{
			font-size: 14px;
		}
		&-body {
			flex: 0 0 auto;
			margin-top: auto;
		}
	}
	.bodyone{
		margin-top: 18px;
	}
	.bodytwo{
		margin-top: 10px;
	}
	.bodythree{
		margin-top: 25px;
	}
	.client{
		margin-top: 1rem;

	}

}