.memory{
	
	.title-memor{
		font-size: 18px;
		font-weight: 700;
	}

	.strig{
		right: 40px;

		img {
			max-width: 100%;
		}
	}

	.title-pod{
		font-weight: 400;
		line-height: 24px;
		color: #0b9a7d;
	}
}