

.titlemodalka{
	color: white;
	font-size: 25px;
	text-align: center;
	
}

.bornon{

	border-bottom: none !important;

}

.btnmodal{
	color: #495057;
    background-color: #ffffff;
    border-color: #ffffff;

}

