.work{
	.tireimg{
		width: 27px;
    height: 7px;
    position: absolute;
    top: 25px;
    right: -20px;
    z-index: 1;
	}

	.posrel{
		position: relative;

		.card-body {
			padding: 0;
			margin-top: 1rem;
		}
	}
}