<div class="approach">
	<div class="container">
		<div class="row">
			<div class="col-12 approach-title pt-4 pb-4">
				<h2 class="text-center approach-titlesm">Мы предлагаем новый подход</h2>
			</div>
			<div class="approach-text m-o pb-4">
				<p class="text-center">MAGNUM - платформа для интернет-магазинов, благодаря которой
					вы можете получать клиентов из поисковой выдачи совершенно бесплатно
					уже в первый месяц работы вашего магазина
				</p>
			</div>
			<div class="col-md-4 col-12">
				<div class="card">
					<img class="card-img-top mobilebg hidden-xs hidden-sm lazyload" data-src="/assets/img/1.png" src="{{ root }}assets/img/minimg/1.png" alt="Card image cap" style="width: 220px;">
					<img class="card-img-top mobilebg hidden-md hidden-lg hidden-xl lazyload" data-src="/assets/img/1.png" src="{{ root }}assets/img/minimg/1.png" alt="Card image cap" style="width: 175px; height: 173px">
					<div class="card-body" style="margin-top: -3rem">
						<p class="card-text text-center approach-text__small">Дополнительный клиенты из поисковой выдачи, соизмеримые по количеству с клиентами из контекстной рекламы</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-12">
				<div class="card">
					<img class="card-img-top mobilebg hidden-xs hidden-sm lazyload" data-src="/assets/img/2.png" src="{{ root }}assets/img/minimg/2.png" alt="Card image cap" style="width: 220px;">
					<img class="card-img-top mobilebg hidden-md hidden-lg hidden-xl lazyload" data-src="/assets/img/2.png" src="{{ root }}assets/img/minimg/2.png" alt="Card image cap" style="width: 175px; height: 173px">
					<div class="card-body" style="margin-top: -3rem">
						<p class="card-text text-center approach-text__small">Не нужно постоянно вливать средства в рекламу</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-12">
				<div class="card">
					<img class="card-img-top mobilebg hidden-xs hidden-sm lazyload" data-src="/assets/img/3.png" src="{{ root }}assets/img/minimg/3.png" alt="Card image cap" style="width: 220px;">
					<img class="card-img-top mobilebg hidden-md hidden-lg hidden-xl lazyload" data-src="/assets/img/3.png" src="{{ root }}assets/img/minimg/3.png" alt="Card image cap" style="width: 175px; height: 173px">
					<div class="card-body" style="margin-top: -3rem">
						<p class="card-text text-center approach-text__small">Поток клиентов с каждым месяцем увеличивается и не зависит от вложенных средств, в отличии от контекстной рекламы.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>