<div class="briefcases">
	<div class="container pb-4">
		<div class="row">
			<div class="col-12 briefcases-title pt-5 pb-3">
				<h2 class="text-center">Наши кейсы</h2>
			</div>
			<div class="col-lg-12 col-xl-4">
				<h3 class="mb-3 styli">Наименование клиента</h3>
				<p class="lespac m-0"><span class="separate">Услуга:</span> Продвижение по трафику</p>
				<p class="lespac m-0"><span class="separate">Город:</span> Пермь</p>
				<p class="lespac m-0"><span class="separate">Процент отказов:</span> уменьшился в 100 раз</p>
				<p class="lespac m-0"><span class="separate">Время на сайте:</span> увеличилось в 10 раз</p>
				<p class="lespac m-0"><span class="separate">Срок достижения результата:</span> 1 месяц</p>
				<div class="col-12 mb-3 mt-3">
					<img class="galkan lazyload" data-src="/assets/img/galka.png" src="{{ root}}assets/img/minimg/galka.png"  alt="svg">
					<h6 class="ml-4 lespaci">Трафик увеличился в 11 раз</h6>
				</div>
				<div class="col-12">
					<img class="galkan lazyload" data-src="/assets/img/galka.png" src="{{ root }}assets/img/minimg/galka.png" alt="svg">
					<h6 class="ml-4 lespaci">Конверсия повысилася в 33 раз</h6>
				</div>
				<div class="col p-0 pt-4 hidden-xs hidden-sm"  data-toggle="modal" data-target="#modalForm">
					<button class="btn btn-outline-light btn-border btncases" data-toggle="modal" data-target="#modalForm">
					Подробнее
					</button>
				</div>
			</div>
			<div class="col-lg-12 col-xl-8 pt-4">
				<img data-src="/assets/img/cases.png" src="{{ root }}assets/img/minimg/cases.png" class="lazyload" alt="svg" style="max-width: 100%;">
			</div>
			<div class="col p-0 pt-4 text-center hidden-md hidden-lg hidden-xl"  data-toggle="modal" data-target="#modalForm">
					<button class="btn btn-outline-light btn-border btncases" style="width: 287px; height: 54px;" >
					Подробнее
					</button>
		</div>
	</div>
</div>