<div class="clients" style="background: linear-gradient(to right, rgba(198,247,226,1) 0%,rgba(185,243,241,1) 100%);">
	<div class="container">
		<div class="row pb-4">
			<div class="col-12 clients-title pt-4 pb-3">
				<h2 class="text-center clients-titlesm pb-2">Клиенты о нас</h2>
				<p class="clients-text text-center">Более 1000 довольных клиентов по всему миру</p>
			</div>
			<div class="col-12" style="padding-left: 30px; padding-right: 30px">
				<div class="swiper-container pb-5">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="card p-0">
								<img class="client-img" src="{{ root }}assets/img/minimg/client1.png" alt="svg">
								<h6 class="client-title">Елизавета Пришвина</h6>
								<p class="client-text">Руководитель отдела кадров</p>
								<p class="card-text fz pb-4">У меня опыт классического маркетолога. Десять лет я работал с Mars, затем ушел в технологичную компанию Google, а после в Ebay. В начале это были офлайн коммуникации и брендбилдинг.</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="card p-0">
								<img class="client-img" src="/assets/img/minimg/client2.png" alt="svg">
								<h6 class="client-title">Елизавета Пришвина</h6>
								<p class="client-text">Руководитель отдела кадров</p>
								<p class="card-text fz pb-4">У меня опыт классического маркетолога. Десять лет я работал с Mars, затем ушел в технологичную компанию Google, а после в Ebay. В начале это были офлайн коммуникации и брендбилдинг.</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="card p-0">
								<img class="client-img" src="{{ root }}assets/img/minimg/client1.png" alt="svg">
								<h6 class="client-title">Елизавета Пришвина</h6>
								<p class="client-text">Руководитель отдела кадров</p>
								<p class="card-text fz pb-4">У меня опыт классического маркетолога. Десять лет я работал с Mars, затем ушел в технологичную компанию Google, а после в Ebay. В начале это были офлайн коммуникации и брендбилдинг.</p>
							</div>
						</div>
					</div>
					<div class="swiper-pagination swop active"></div>
				</div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</div>
	</div>
</div>