<div class="flexibility lazyload" style="background-image: url({{ root }}assets/img/minimg/vozmognost.png);" data-src="assets/img/vozmognost.png">
	<div class="container">
		<div class="row pb-4">
			<div class="col-12 flexibility-title pt-4 pb-3">
				<h2 class="text-center titlesm text-white pt-5 pb-3">Гибкость и возможности дизайна<br>
				в своих лучших проявлениях</h2>
				<p class="flexibility-text text-center text-white">От загрязнения воды у рыбы может меняться пол. Приблизительно одна треть рыб в британских территориальных водах изменила пол из-за загрязнений, причиняемых канализацией.</p>
			</div>
			<div class="col-12 text-center pt-4 pb-5">
			
			<button type="submit" class="btn btn-primary mr-3 mb-2 btnflexi btnflexip" data-toggle="modal" data-target="#modalForm">Узнай больше</button>
			<button type="submit" class="btn btn-primary mb-2 btnflexi" data-toggle="modal" data-target="#modalForm">Купить сейчас</button>
			</div>
			
		</div>
	</div>
</div>
</div>