<div class="footer" style="background-color: #3c494d">
	<div class="container">
		<div class="row pb-4">
			<div class="col-md-6 col-12 mobbg">
				<img data-src="/assets/img/header-logo.png" class="pt-5 lazyload" src="{{ root }}assets/img/minimg/header-logo.png" alt="svg">
				<p class="footer-text pt-3 no-br hidden-xs hidden-sm">Magnum - набор готовы элементов для создания  проекта.<br> Более 140 готовых блоков выполненных в одном стиле,<br> сокращайте времяи затраты для своего проекта.
				</p>
				<form class="form-inline text-left pt-3 pb-3 hidden-xs hidden-sm">
					<div class="form-group mr-4 mb-2 ">
						<label for="inputPassword2" class="sr-only" >E-mail</label>
						<input type="password" class="form-control footer-forma" id="inputPassword3" placeholder="E-mail адрес">
					</div>
					<button type="submit" class="btn btn-primary mb-2 footer-btn" data-toggle="modal" data-target="#modalForm">Подписаться</button>
				</form>
				
			</div>
			
			<div class="col-2 offset-1 hidden-xs hidden-sm" style="padding-top: 5rem;">
				<p class="foottit">Клиентам</p>
				<a href="#" class="foot-small">О компании </a>
				<a href="#" class="foot-small">Оставить заявку </a>
				<a href="#" class="foot-small">База знаний </a>
				<a href="#" class="foot-small">Черный список </a>
				<a href="#" class="foot-small">Отзывы </a>
			</div>
			<div class="col-2 offset-1 hidden-xs hidden-sm" style="padding-top: 5rem;">
				<p class="foottit">Информация</p>
				<a href="#" class="foot-small">О компании </a>
				<a href="#" class="foot-small">Оставить заявку </a>
				<a href="#" class="foot-small">База знаний </a>
				<a href="#" class="foot-small">Черный список </a>
				
			</div>
			<div class="col-12 text-center pt-4 hidden-md hidden-lg hidden-xl" style="padding-top: 5rem;">
				<a href="#" class="footp">Клиентам</a>
			</div>
			<div class="col-12 text-center pt-2 hidden-md hidden-lg hidden-xl" style="padding-top: 5rem;">
				<a href="#" class="footp">Информация</a>
			</div>
			<div class="col-12 text-center pt-2 pb-2 hidden-md hidden-lg hidden-xl" style="padding-top: 5rem;">
				<a href="#" class="footp">Контакты</a>
			</div>
			<div class="col-12 container bort pt-2">
				<div class="row justify-content-between align-items-end">
					<div class="col-auto text-left">
						<a href="#" class="foot hidden-xs hidden-sm">© 2014-2016. Все права защищены. </a>
					</div>
					<div class="col-12 text-center pt-2 hidden-md hidden-lg hidden-xl">
						<a href="#" class="foot-small">ООО “Рога и Копыта”</a>
					</div>
					<div class="col-12 text-center  hidden-md hidden-lg hidden-xl" >
						<a href="#" class="foot-small">ИНН: 3120000005423907</a>
					</div>
					<div class="col-12 pb-3 text-center  hidden-md hidden-lg hidden-xl">
						<a href="#" class="foot-small">КПП: 3457234579790778</a>
					</div>
					<div class="col-auto text-right hidden-xs hidden-sm">
						<a href="#" style="text-decoration: none;">
							<img data-src="/assets/img/vk.png" class="lazyload" src="{{ root }}assets/img/minimg/vk.png" alt="svg">
						</a>
						<a href="#" style="text-decoration: none;">
							<img data-src="/assets/img/fase.png" class="ml-3 lazyload" src="{{ root }}assets/img/minimg/fase.png" alt="svg">
						</a>
						<a href="#" style="text-decoration: none;">
							<img data-src="/assets/img/twit.png" class="ml-3 lazyload" src="{{ root }}assets/img/minimg/twit.png" alt="svg">
						</a>
						<a href="#" style="text-decoration: none;">
							<img data-src="/assets/img/in.png" class="ml-3 lazyload" src="{{ root }}assets/img/minimg/in.png" alt="svg">
						</a>
					</div>
					<div class="col-12 text-center hidden-md hidden-lg hidden-xl">
						<a href="#" style="text-decoration: none;">
							<img data-src="/assets/img/vk.png" class="lazyload" src="{{ root }}assets/img/minimg/vk.png" alt="svg">
						</a>
						<a href="#" style="text-decoration: none;">
							<img data-src="/assets/img/fase.png" class="ml-3 lazyload" src="{{ root }}assets/img/minimg/fase.png" alt="svg">
						</a>
						<a href="#" style="text-decoration: none;">
							<img data-src="/assets/img/twit.png" class="ml-3 lazyload" src="{{ root }}assets/img/minimg/twit.png" alt="svg">
						</a>
						<a href="#" style="text-decoration: none;">
							<img data-src="/assets/img/in.png" class="ml-3 lazyload" src="{{ root }}assets/img/minimg/in.png" alt="svg">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>