<div class="header lazyload" style="background-image: url({{ root }}assets/img/minimg/header-bg.png);" data-src="/assets/img/header-bg.png);">
	<div class="container pt-3">
		<div class="row pb-3">
			<div class="col-lg-4 col-12 logotipe">
				<img data-src="/assets/img/header-logo.png" src="{{ root }}assets/img/minimg/header-logo.png" alt="svg" class="lazyload">
			</div>
			<div class="col-lg-4 col-12 d-flex justify-content-center">
				<a href="#" class="text-center text-white number">
					8 800 123 45 67
				</a>
			</div>
			<div class="col-4 text-right hidden-xs hidden-sm hidden-md"  data-toggle="modal" data-target="#modalForm">
				<button class="btn btn-outline-light btn-border btnclass" data-toggle="modal" data-target="#modalForm">
				Заказать звонок
				</button>
			</div>
		</div>
		<h1 class="text-white text-center pt-5 pb-4 title">MAGNUM - платформа для интернет-магазинов</h1>
		<p class="text-center text-white no-br">Больше вам не придется платить за продвижение <br>
			в поисковых системах Яндекс и Google.<br>
		Вы будете получать клиентов бесплатно!</p>
		<form class="form-inline d-flex justify-content-center pt-3 pb-5">
			<div class="form-group mx-sm-3 mb-2 ">
				<label for="inputPassword2" class="sr-only">E-mail адрес</label>
				<input type="password" class="form-control" id="inputPassword2" placeholder="E-mail адрес">
			</div>
			<button type="submit" class="btn btn-primary mb-2 btnpod " data-toggle="modal" data-target="#modalForm">Узнай подробнее</button>
		</form>
		<div class="row client pt-5 pb-4">
			<div class="col-md-4 col-6 p-0 hidden-xs hidden-sm">
				<div class="card" style="background-color: transparent; border-color: transparent">
					<img class="card-img-top align-self-center lazyload" data-src="/assets/img/users.png" src="{{ root }}assets/img/minimg/users.png" alt="Card image cap" style="width: 65px; height: 55px">
					<div class="card-body bodyone text-center p-0">
						<h5 class="card-title text-white">Нужно больше клиентов?</h5>
						<p class="card-text text-white">Существующие каналы работают на максимум, но клиентво нужно больше?</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-6 p-0 hidden-md hidden-lg hidden-xl">
				<div class="card" style="background-color: transparent; border-color: transparent">
					<img class="card-img-top align-self-center lazyload" data-src="/assets/img/users.png" src="{{ root }}assets/img/minimg/users.png" alt="Card image cap" style="width: 65px; height: 55px">
					<div class="card-body bodyone text-center p-0">
						<h5 class="card-title text-white">Нужно больше<br> клиентов?</h5>
						<p class="card-text text-white">Существующие каналы работают на максимум, но клиентво нужно больше?</p>
					</div>
				</div>
			</div>
			<div class="col-md-4  col-6 p-0 hidden-xs hidden-sm">
				<div class="card" style="background-color: transparent; border-color: transparent">
					<img class="card-img-top align-self-center lazyload" data-src="/assets/img/receipt.png" src="{{ root }}assets/img/minimg/receipt.png" alt="Card image cap" style="width: 46px; height: 63px">
					<div class="card-body bodytwo text-center p-0">
						<h5 class="card-title text-white">Стоимость рекламы все время растет?</h5>
						<p class="card-text text-white">Стоимость платной рекламы все время увеличивается, но увеличение стоимости не приводит новых клиентов?</p>
					</div>
				</div>
			</div>
			<div class="col-md-4  col-6 p-0 hidden-md hidden-lg hidden-xl">
				<div class="card" style="background-color: transparent; border-color: transparent">
					<img class="card-img-top align-self-center lazyload" data-src="/assets/img/receipt.png" src="{{ root }}assets/img/minimg/receipt.png" alt="Card image cap" style="width: 46px; height: 63px">
					<div class="card-body bodytwo text-center p-0">
						<h5 class="card-title text-white">Стоимость рекламы<br> все время растет?</h5>
						<p class="card-text text-white">Стоимость платной рекламы все время увеличивается, но увеличение стоимости не приводит новых клиентов?</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-12 p-0 hidden-xs hidden-sm">
				<div class="card" style="background-color: transparent; border-color: transparent">
					<img class="card-img-top align-self-center lazyload" data-src="/assets/img/X.png" src="{{ root }}assets/img/minimg/X.png" alt="Card image cap" style="width: 50px; height: 48px">
					<div class="card-body bodythree text-center p-0">
						<h5 class="card-title text-white">Не оплатили рекламу =<br>
						не получили клиентов</h5>
						<p class="card-text text-white">Приходится все время платить
						за рекламу? Не заплатите не получите клиентов?</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-12 p-0 hidden-md hidden-lg hidden-xl">
				<div class="card" style="background-color: transparent; border-color: transparent">
					<img class="card-img-top align-self-center lazyload" data-src="/assets/img/X.png" src="{{ root }}assets/img/minimg/X.png" alt="Card image cap" style="width: 50px; height: 48px">
					<div class="card-body bodythree text-center p-0">
						<h5 class="card-title text-white">Не оплатили рекламу =<br>
						не получили клиентов</h5>
						<p class="card-text text-white">Приходится все время платить
						за рекламу?<br> Не заплатите не получите клиентов?</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
