<div class="memory" style="background: linear-gradient(to right, rgba(172,245,204,0.65) 0%,rgba(143,235,239,0.65) 100%); ">
	<div class="container">
		<div class="row">
			<div class="col-12 memory-title pt-5 pb-5">
				<h2 class="text-center memory-vs">Вспомните как это было</h2>
			</div>
			<div class="col-xs-12 col-md-5 strig hidden-md hidden-lg hidden-xl">
				<img src="/assets/img/mobile/memory-mobile.png" alt="svg">
			</div>
			<div class="col-xs-12 col-md-5 strig hidden-xs hidden-sm">
				<img data-src="/assets/img/like-this.png" src="{{ root }}assets/img/minimg/like-this.png" class="lazyload" alt="svg">
			</div>
			<div class="mobilepad col-xs-12 col-md-7 pl-5">
				<h2 class="title-memor">С начала вы разрабатывали интернет-магазин</h2>
				<p class="title-pod">Самый страшный зверь Африки - это бегемот. Гиппопотамы<br> убили гораздо больше людей, чем другие животные<br> континента, включая львов.</p>
				<h2 class="title-memor">Потом вы наполняли сайт товарами</h2>
				<p class="title-pod">Сумма в 1 000 000 долларов, разменянная банкнотами по 1<br> доллару весила бы примерно 1 тонну. Если сложить все<br> банкноты в кучу, то ее высота составила бы примерно 100<br> метров.</p>
				<h2 class="title-memor">И настал момент его продвижения в поисковых системах Яндекс и Google</h2>
				<p class="title-pod">Членство в Церкви Сайентологии не запрещает участие в<br> других религиозных течениях, так что многие из сайентологов<br> являются еще и христианами, буддистами и пр.</p>
			</div>
		</div>
	</div>
</div>