<div class="opportunity">
	<div class="container">
		<div class="col-12">
			<h2 class="text-center opportunity-sm
			">Наши сотрудники
			</h2>
			<div class="row pt-5">
				<div class="col">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="card w-100 text-center mx-auto">
									<img class="card-img-top mx-auto mb-2 lazyload" src="{{ root }}assets/img/minimg/spec1.png"  alt="svg">
									<div class="card-body">
										<h5 class="card-title font-weight-bold text-center ">
										Сергей Лапшин
										</h5>
										<p class="card-text text-center text-light-blue h6 lh-165 mb-1 pb-1">
											Руководитель отдела продаж.
										</p>
										<p class="card-text text-left alsef text-light-blue h6 lh-165 mb-2 pb-1">Главный помощник генерального
										</p>
										<a href="#" class="btn btn-primary btnoppo text-center mt-2"  data-toggle="modal" data-target="#modalForm">
											Заказать
										</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card w-100 text-center mx-auto">
									<img class="card-img-top mx-auto mb-2 lazyload" src="{{ root }}assets/img/minimg/spec2.png"  alt="svg">
									<div class="card-body ">
										<h5 class="card-title font-weight-bold text-center">
										Сергей Кай
										</h5>
										<p class="card-text text-center text-light-blue h6 lh-165 mb-1 pb-1">
											Руководитель отдела продаж.
										</p>
										<p class="card-text text-left alsef text-light-blue h6 lh-165 mb-2 pb-1">Главный помощник генерального
										</p>
										<a href="#" class="btn btn-primary btnoppo mt-2" data-toggle="modal" data-target="#modalForm">
											Заказать
										</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card w-100 text-center mx-auto">
									<img class="card-img-top mx-auto mb-2 lazyload" src="{{ root }}assets/img/minimg/spec3.png"  alt="svg">
									<div class="card-body">
										<h5 class="card-title font-weight-bold text-center">
										Марина Безродова
										</h5>
										<p class="card-text text-center text-light-blue h6 lh-165 mb-1 pb-1">
											Руководитель отдела продаж.
										</p>
										<p class="card-text text-left alsef text-light-blue h6 lh-165 mb-2 pb-1">Главный помощник генерального
										</p>
										<a href="#" class="btn btn-primary btnoppo mt-2" data-toggle="modal" data-target="#modalForm">
											Заказать
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>