<div class="result">
	<div class="container">
		<div class="row pt-5">
			<div class="mobile-title col-xs-12 col-md-8">
				<h2 class="mobile-titlesm">Результат был всегда предсказуемый</h2>
				<div class="row pt-5
					">
					<div class="col-xs-12 col-md-4 pt-2 text-center hidden-md hidden-lg hidden-xl">
						<img src="/assets/img/mobile/result-mobile.png"  alt="svg">
					</div>
					<div class="col-md-6 col-12 mobileal mb-5">
						<h2 class="result-title">Разработка интернет-магазина
						затягивалась</h2>
						<p class="result-text">Название японской электронной компании TDK</p>
					</div>
					<div class="col-md-6 col-12 mb-5 mobileal">
						<h2 class="result-title">Наполнение сайт информацией
						было адски сложно и нужно</h2>
						<p class="result-text">Название японской электронной компании TDK</p>
					</div>
					<div class="w-100"></div>
					<div class="col-md-6 col-12 mobileal">
						<h2 class="result-title">Продвижение не давало результат</h2>
						<p class="result-text">Название японской электронной компании TDK</p>
					</div>
					<div class="col-md-6 col-12 mobileal">
						<h2 class="result-title">Приходилось запускать
						контекстную рекламу</h2>
						<p class="result-text">Название японской электронной компании TDK</p>
					</div>
				</div>
			</div>
			<div class="ol-xs-12 col-md-4 pt-2 text-right hidden-xs hidden-sm">
				<img data-src="/assets/img/like-this2.png" src="{{ root }}assets/img/minimg/like-this2.png" class="lazyload" alt="svg">
			</div>
		</div>
	</div>
</div>