<div class="what">
	<div class="container">
		<div class="row pt-5">
			<div class="col-12">
				<h2 class="text-center what-mob
				">Почему выбирают нас</h2>
				<div class="container">
					<div class="row pt-5 whatpt
						">
						<div class="col-md-4 col-12 marbot mb-4">
							<h2 class="what-title mb-3 text-left">Комплексный подход</h2>
							<p class="what-text text-left">Средний покупатель перед тем, как начать покупать, бродит по супермаркету около 15 минут.</p>
						</div>
						<div class="col-md-4 col-12 marbot mb-4">
							<h2 class="what-title mb-3 text-left">Бесплатная консультация</h2>
							<p class="what-text text-left">«Life» был первым журналом, который заработал 100 миллионов долларов на рекламе за год.</p>
						</div>
						<div class="col-md-4 col-12 marbot mb-4">
							<h2 class="what-title mb-3 text-left">Квалифицированные
							работники</h2>
							<p class="what-text text-left">Американский музыкант Фэтс Домино имел в своем гардеробе более 300 пар обуви.</p>
						</div>
						
						<div class="col-md-4 col-12 marbot mb-4">
							<h2 class="what-title mb-3 text-left">Комплексный подход</h2>
							<p class="what-text text-left">Средний покупатель перед тем, как начать покупать, бродит по супермаркету около 15 минут.</p>
						</div>
						<div class="col-md-4 col-12 marbot mb-4">
							<h2 class="what-title mb-3 text-left">Бесплатная консультация</h2>
							<p class="what-text text-left">«Life» был первым журналом, который заработал 100 миллионов долларов на рекламе за год.</p>
						</div>
						<div class="col-md-4 col-12 mb-4">
							<h2 class="what-title mb-3 text-left">Квалифицированные
							работники</h2>
							<p class="what-text text-left">Американский музыкант Фэтс Домино имел в своем гардеробе более 300 пар обуви.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>