<div class="work">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-12 work-title pt-4 pb-3">
				<h2 class="text-center work-titlesm pb-2">Как начать с нами работать</h2>
				
			</div>
			<div class="col-6 col-md-3 posrel ">
				<div class="card">
					<img class="card-img-top align-self-center lazyload" data-src="/assets/img/work1.png" src="{{ root }}assets/img/minimg/work1.png" alt="Card image cap" style="width: 35px; height: 43px; margin-bottom: 17px;">
					<div class="card-body">
						<h5 class="card-title cardmobtit text-center" style="font-size: 16px">Заявка на  сайте</h5>
						<p class="card-text cardmobtex text-center" style="color: #a2aeb6; font-size: 15px">Чем обнародуются перед публикой
							мадиба провёл.
						</p>
						<img class="card-img-top tireimg hidden-xs hidden-sm lazyload" data-src="/assets/img/tire.png" src="{{ root }}assets/img/minimg/tire.png" alt="Card image cap" style="width: 27px; height: 7px; ">
					</div>
				</div>
			</div>
			
			
			
			<div class="col-6 col-md-3 posrel">
				<div class="card">
					<img class="card-img-top align-self-center lazyload" data-src="/assets/img/work2.png" src="{{ root }}assets/img/minimg/work2.png" alt="Card image cap" style="width: 72px; height: 60px;">
					<div class="card-body">
						<h5 class="card-title cardmobtit text-center" style="font-size: 16px">Выбор группы
						</h5>
						<p class="card-text cardmobtex text-center" style="color: #a2aeb6; font-size: 15px">Чем обнародуются перед публикой
						мадиба провёл.</p>
						<img class="card-img-top tireimg hidden-xs hidden-sm" src="/assets/img/tire.png" alt="Card image cap" style="width: 27px; height: 7px">
					</div>
				</div>
			</div>
			
			
			
			
			<div class="col-6 col-md-3 posrel">
				<div class="card">
					<img class="card-img-top align-self-center lazyload" data-src="/assets/img/work3.png" src="{{ root }}assets/img/minimg/work3.png" alt="Card image cap" style="width: 42px; height: 32px; margin-bottom: 20px; margin-top: 9px">
					<div class="card-body">
						<h5 class="card-title cardmobtit text-center" style="font-size: 16px">Оплата тренировки</h5>
						<p class="card-text cardmobtex text-center" style="color: #a2aeb6; font-size: 15px">Чем обнародуются перед публикой
						мадиба провёл.</p>
						<img class="card-img-top tireimg hidden-xs hidden-sm" src="/assets/img/tire.png" alt="Card image cap" style="width: 27px; height: 7px">
					</div>
				</div>
			</div>
			
			
			
			<div class="col-6 col-md-3 posrel">
				<div class="card">
					<img class="card-img-top align-self-center" src="/assets/img/work4.png" alt="Card image cap" style="width: 49px; height: 60px">
					<div class="card-body">
						<h5 class="card-title cardmobtit text-center" style="font-size: 16px">Встреча с тренером</h5>
						<p class="card-text cardmobtex text-center" style="color: #a2aeb6; font-size: 15px">Чем обнародуются перед публикой
						мадиба провёл.</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>