.approach{

	&-text{
		font-size: 12px !important;
		margin: 0 !important;

		&__small{
			position: relative !important;
			font-size: 12px !important;
		}
	}

	&-titlesm{
		font-size: 16px !important;
	}
	.mobilebg{
		align-self: center;
		position: relative !important;
		left: -25px !important;
	}
}