.flexibility{

	.titlesm{
		font-size: 20px !important;
	}
	
	&-text{
		font-size: 16px !important;
	}
	
	.btnflexip{

		@media screen and (max-width: 473px) {
			margin-right: 0 !important;
		}
		
		@media screen and (max-width: 457px) {
			margin-bottom: 1.5rem !important;
		}
	}

}