.header{


	.card-title{
		font-size: 12px;
	}

	.card-text{
		font-size: 10px;
	}
	.client{
		margin-top: 0;
		padding-top: 0 !important;
	}

	.form-inline{
		padding-top: 2rem !important;

	}

	.title{
		font-size: 18px;
		padding: 0 !important;
	}
	.logotipe{
		text-align: left;
	}

	.number{
		font-size: 35px;
		    padding-top: 2rem;

	}

}