.memory{
		.title-pod{
			font-size: 12px;
			line-height: 17px;
		}
	.title-memor{
		font-size: 14px;
	}
	.mobilepad{
		padding-left: 1rem !important;
	}
	&-vs{
		font-size: 20px !important;
	}
	.strig{
		text-align: center;
	}
}