.result{

	&-title{
		font-size: 14px !important;
	}

	&-text{
		font-size: 12px !important;
	}
	.mobile-titlesm{
		text-align: center;
		font-size: 20px !important;
	}

	.mobileal{
		text-align: left;
		margin-bottom: 1rem !important;
	}
}