.what{
		.marbot{
			margin-bottom: 1rem !important;
		}
	&-title{
		font-size: 14px;
		margin-bottom: 0 !important;
	}

	&-text{
		color: #80909c;
		font-size: 12px;

	}

	.whatpt{
		padding-top: 1rem !important;
	}
	&-mob{
		font-size: 20px !important;
	}
}